{% extends "base.html" %}

{% block title %}

Home

{% endblock %}

{% block content %}

{% include 'partials/navbar.html' %}

{% include 'partials/hero.html' %}

{% include 'partials/categories.html' %}

{% include 'partials/features.html' %}

{% include 'partials/popular_dishes.html' %}

{% include 'partials/how_it_works.html' %}

{% include 'partials/why_choose.html' %}

{% include 'partials/app_section.html' %}

{% include 'partials/special_offers.html' %}

{% include 'partials/testimonials.html' %}

{% include 'partials/footer.html' %}

{% endblock %}